#list {
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#list li {
  cursor: pointer;
}

#list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

#list.without-bullets {
  list-style-type: none;
  padding: 0.5rem;
}
